<div [formGroup]="parentForm">
  <div>
    <label for="addressName">Address Name:</label>
    <input type="text" id="addressName" formControlName="addressName" required>
  </div>

  <div>
    <label for="countryId">Select Country:</label>
    <select name="countryId" id="countryId" formControlName="countryId" (change)="onChangeCountry($event)" required>
      <option *ngFor="let country of countries" [value]="country.id">
        {{country.name}}
      </option>
    </select>
  </div>

  <div>
    <label for="cityId">Select City:</label>
    <select name="cityId" id="cityId" formControlName="cityId" required [disabled]="selectedCountry === undefined">
      <option *ngFor="let city of  selectedCountry?.cities" [value]="city.id">
        {{city.name}}
      </option>
    </select>

    <button [disabled]="selectedCountry === undefined" (click)="addCity()">Add City</button>
  </div>

  <div>
    <label for="street">Street:</label>
    <input type="text" id="street" formControlName="street" required>
  </div>
</div>